body {
  background-color: rgb(158, 189, 216);
}

h1 {
  margin: 40px;
  text-align: center;
  font-size: 70px;
}

h3 {
  margin: 20px;
  text-align: center;
}

p {
  text-align: left;
}

* {
  font-family: sans-serif;
}

footer {
  margin: 20px;
}

img {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

div {
  margin: auto;
  width: 40%;
}

form {
  margin-top: 40px;
}

.center-text {
  text-align: center;
}

.float-right {
  float: right;
}
